<app-navigation></app-navigation>
<div class="box-1">
    <div class="heading">
        <h3 class="h3-1">How to Get Started</h3>
    </div>

    <img src="assets/img/join.png" alt="">

    <div class="row-1">
        <div class="text-1">Create an Account</div>
        <a><div class="text-2">Choose Plan</div></a>
        <a><div class="text-3">Invite More People</div></a>
        <a><div class="text-4">Get Commission</div></a>
    </div>

    <!-- row-down-img -->
    <div class="downimg">
        <img src="assets/img/dimg.png" alt="">
    </div>

        <div class="content">
            <p class="p-1">
                *Surprise & Delight product is only awarded once in a Customer’s lifetime. Surprise & Delight product must be added to your next order.
            </p>
            <p class="p-2">
                **VIP rewards expire in 90 days.
            </p>
        </div>

        <!-- buttons -->
        <div class="row-2">
            <div class="norbtn">
                <button mat-raised-button color="primary" type="button" class="btn-1">
                    <span class="button-text">Continue with Normal</span>
                </button>
            </div>

            <div class="vipbtn">
                <button mat-raised-button color="warn" type="button" class="btn-2">
                   <div class="text-5">
                    Go With VIP
                   </div>
                    <img src="assets/img/crown.png" alt="" >
                </button>
            </div>
        </div>

        <div class="faq">
            <button mat-raised-button type="button" color="basic" class="btn-3">FAQ</button>
            <p class="p-3">
                Terms & Conditions
            </p>
        </div>

</div>

<app-footer></app-footer>
