<app-navigation></app-navigation>
<div class="category-1">
    <div class="link">
        <li class="li-1"><a href="" class="a1">Help & Info</a></li>
        <li class="li-2"><a href="" class="a2">About Us</a></li>
        <li class="li-3"><a href="" class="a3">Careers</a></li>
        <li class="li-4"><a href="" class="a4">Blogs</a></li>

        <div class="dropdown">
            <button class="dropbtn">
                FAQs
                <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
            </button>
            <div class="dropdown-content">
              <a href="#">Login & Account</a>
              <a href="#">Refund & Pickup</a>
              <a href="#">Delivery</a>
              <a href="#">Cancellation</a>
            </div>
          </div>

    </div>
    
</div>
<!-- ctaegory-2 -->
<div class="category-2">
<div class="box-1">
    <h2 class="h2-0">Want to start your career with Crystals and Carats</h2>
</div>

<div class="row-1">
    <div class="content-1">
        <div class="para">
            <p class="p-1">
                Welcome to Crystal and Carats, where jewelry tells stories, and craftsmanship is an art. If you're passionate about creating meaningful pieces in a collaborative and creative environment, join us!
            </p>
        </div>
    </div>

    <!-- content-2 -->
    <div class="content-2">
        <h3 class="h3-2">
            Why Crystals and Carats?
        </h3>
       <div class="ans">
        <ol class="ol-1">
            <li class="li-5">
                <h4 class="h4-0">Artisanal Excellence:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-2">
                            Be part of our legacy of handcrafted excellence, where each piece is a unique masterpiece.
                        </p>
                    </div>
                </div>
            </li>
            <li class="li-6">
                <h4 class="h4-1">Creative Innovation:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-3">
                            Express your creativity in a supportive environment that values originality and fresh perspectives.
                        </p>
                    </div>
                </div>
            </li>
            <li class="li-7">
                <h4 class="h4-2">Commitment to Quality:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-4">
                            Join a team dedicated to crafting high-quality jewelry that exceeds expectations.
                        </p>
                    </div>
                </div>
            </li>
        </ol>
       </div>
    </div>

    <!-- content-3 -->
    <div class="content-3">
        <h3 class="h3-3">
            Current Openings:
        </h3>
       <div class="ans-2">
        <ol class="ol-2">
            <li class="li-8">
                <h4 class="h4-3">Jewelry Artisan:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-5">
                            Bring designs to life with precision and care, showcasing your love for detail.
                        </p>
                    </div>
                </div>
            </li>
            <li class="li-9">
                <h4 class="h4-4">Creative Designer:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-6">
                            Contribute to our collection with your innovative and artistic vision.
                        </p>
                    </div>
                </div>
            </li>
            <li class="li-10">
                <h4 class="h4-5">Quality Assurance Specialist:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-7">
                            Ensure every piece meets our uncompromising standards for excellence.
                        </p>
                    </div>
                </div>
            </li>
            <li class="li-11">
                <h4 class="h4-6">Customer Care Advocate:</h4>
                <div class="content-2">
                    <div class="para">
                        <p class="p-8">
                            Share your passion for jewelry, providing exceptional service to help customers find their perfect piece.
                        </p>
                    </div>
                </div>
            </li>
        </ol>
       </div>
    </div>


    <div class="content-4">
        <h3 class="h3-4">
            How To Apply:
        </h3>
        <div class="content-2">
            <div class="para">
                <p class="p-9">
                    Ready to craft moments that last a lifetime? Send your resume and a cover letter to careers&#64;crystalandcarats.com.
                </p>
                <p class="p-10">
                    Join Crystal and Carats - Where Tradition Meets Innovation!
                </p>
            </div>
        </div>
    </div>

</div>

</div>

<app-footer></app-footer>