.category-1,
.category-2{
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
}
.category-1{
    width: 15%;
    float: left;
    border: 1px solid red;
    height: 270vh;
}

.li-1{
    list-style: none;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 2.3em;
}
.a1{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'poppins';
}
.a1:hover{
    color: red;
}
.li-2{
    list-style: none;
    font-size: 18px;
    margin-top: 1em;
    margin-left: 3em;
}
.a2{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'poppins';
}
.a2:hover{
    color: red;
}
.li-3{
    list-style: none;
    font-size: 18px;
    margin-top: 1em;
    margin-left: 3em;
}
.a3{
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-family: 'poppins';
}
.a3:hover{
    color: red;
}
.li-4{
    list-style: none;
    font-size: 18px;
    margin-top: 1em;
    margin-left: 3em;
}
.a4{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'poppins';
}
.a4:hover{
    color: red;
}



.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 16px;
    border: none;
    display: flex;
    margin-left: 3em;
    margin-top: 1em;
    font-weight: 600;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 3em;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #fff;} */

  .mat-icon{
   margin-top: -0.1em;
   margin-left: 0.2em;
  }



/* category-2 */
.category-2{
    width: 85%;
    float: left;
    border: 1px solid blue;
    height: 270vh;
}
.box-1{
    width: 800px;
    height: 60px;
    background-color: rgb(207, 207, 207);
    margin-left: 14em;
    margin-top: 1em;
}
.h2-0{
    text-align: center;
    font-family: 'poppins';
    padding: 10px;
}
.content-1{
    margin-left: 1em;
    margin-top: 3em;
}

.p-1{
    font-size: 30px;
    font-family: 'poppins';
    font-weight: 600;
    text-align: left;
    margin-left: 3em;
    width: 78%;
}

.h3-2{
    font-size: 32px;
    font-family: 'poppins';
    margin-left: 3em;
    margin-top: 2em;
}
.ol-1{
    font-size: 18px;
    margin-left: 3em;
    font-weight: 600;
}
.h4-0{
    font-size: 30px;
}
.p-2{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}
.h4-1{
    font-size: 30px;
}
.p-3{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}
.h4-2{
    font-size: 30px;
}
.p-4{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}


.h3-3{
    font-size: 32px;
    font-family: 'poppins';
    margin-left: 3em;
    margin-top: 2em;
}
.ol-2{
    font-size: 18px;
    margin-left: 3em;
    font-weight: 600;
}
.h4-3{
    font-size: 30px;
}
.p-5{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}
.h4-4{
    font-size: 30px;
}
.p-6{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}
.h4-5{
    font-size: 30px;
}
.p-7{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}
.h4-6{
    font-size: 30px;
}
.p-8{
    font-size: 28px;
    width: 80%;
    margin-top: -1em;
    font-weight: 400;
}

.h3-4{
    font-size: 32px;
    font-family: 'poppins';
    margin-left: 3em;
    margin-top: 2em;
}
.p-9{
    font-size: 30px;
    width: 80%;
    margin-left: 3em;
    font-weight: 400;
}
.p-10{
    font-size: 30px;
    width: 80%;
    margin-left: 3em;
    font-weight: 400;
}