<app-navigation></app-navigation>

<div class="row-1">
    <div class="bx-1">
        <h2 class="h2-1">Learn  more   About  C & C</h2>

        <div class="links">
            <li><a href="" class="a1">About Crustal & Carat</a></li>
            <li><a href="" class="a2">Our Leadership</a></li>
            <li><a href="" class="a3">FAQ</a></li>
        </div>

    </div>
    <div class="bx-2">
        <h2 class="h2-2">A  Place  For  Everyone </h2>
        <div class="img">
            <img src="assets/img/aboutimg.png" alt="" class="img-1">
        </div>
    </div>
    <div class="bx-3">
        <h2 class="h2-3">Contact Us</h2>

        <div class="contnt">
            <li class="li-1">C & C Products International</li>
            <li class="li-2">
               7501 East McCromick Pkwy,
               <p class="p1">
                Scottsdale,Arizona 85258
               </p> 
            </li>
            <li class="li-3">
                Customer Support
                <p class="p2">1-888-440-ALOE(2563)</p>
            </li>
            <li class="li-4"><a href="" class="a4">customercare&#64;demologo.com</a></li>
        </div>

    </div>
</div>

<app-footer></app-footer>