<app-navigation></app-navigation>

<div class="category-1">
    <div class="links">
        <ul class="ul-1">
            <li><a href="">Personal Details</a></li>
            <li><a href="">Crystal Counts</a></li>
            <li><a href="">Slab Progression</a></li>
            <li class="li-4"><a href="">Referral Details</a></li>
            <li><a href="">Commission</a></li>
        </ul>
    </div>
    <div class="btn">
        <button mat-raised-button color="primary" type="button" class="btn-1">
            <mat-icon>logout</mat-icon>    
            Logout
        </button>
    </div>
</div>
<!-- category-2 -->
<div class="category-2">
<div class="box-1">
    <div class="head">
        <h3 class="h3-1">Welcome to Dashboard</h3>
    </div>
    <div class="lvl">
        <h3 class="h3-2">Level : Bronze</h3>
        <img src="assets/img/lvl.jpg" alt="" class="img-1">
    </div>
</div>

    <div class="user">
        <div class="tooltip">
            <i class="material-icons">person</i>
            <div class="tooltiptext">This is a tooltip message</div>
        </div>
        <div class="uname">
            <h3 class="h3-3">Pratik Awadhiya</h3>
        </div>

        <div class="row-1">
            <div class="txt-1">
                Referral Count :
            </div>
            <div class="bx-1">
                <div class="num-1">
                    3
                </div>
            </div>
        </div>
    </div>

    <!-- row-2 -->
    <div class="lineimg">
        <img src="assets/img/lineimg.png" alt="" class="img-2">
    </div>
    <div class="row-2">
        <div class="tooltip">
            <i class="material-icons custom-icon-1">person</i>
            <div class="tooltiptext-1">This is a tooltip message</div>
        </div>
        <div class="tooltip">
            <i class="material-icons custom-icon-2">person</i>
            <div class="tooltiptext-2">This is a tooltip message</div>
        </div>
        <div class="tooltip">
            <i class="material-icons custom-icon-3">person</i>
            <div class="tooltiptext-3">This is a tooltip message</div>
        </div>
    </div>
        <!-- row-3 -->
        <div class="lineimg2">
            <img src="assets/img/lineimg3.png" alt="" class="img-3">
        </div>
        <div class="row-3">
            <div class="tooltip">
                <i class="material-icons custom-icon-4">person</i>
                <div class="tooltiptext-4">This is a tooltip message</div>
            </div>
            <div class="tooltip">
                <i class="material-icons custom-icon-5">person</i>
                <div class="tooltiptext-5">This is a tooltip message</div>
            </div>
            <div class="tooltip">
                <i class="material-icons custom-icon-6">person</i>
                <div class="tooltiptext-6">This is a tooltip message</div>
            </div>
        </div>

        <!-- row-4 -->
        <div class="linimg-3">
            <img src="assets/img/lineimg2.png" alt="" class="img-4">
        </div>
        <div class="row-4">
            <div class="tooltip">
                <i class="material-icons custom-icon-7">person</i>
                <div class="tooltiptext-7">This is a tooltip message</div>
            </div>
            <div class="tooltip">
                <i class="material-icons custom-icon-8">person</i>
                <div class="tooltiptext-8">This is a tooltip message</div>
            </div>
            <div class="tooltip">
                <i class="material-icons custom-icon-9">person</i>
                <div class="tooltiptext-9">This is a tooltip message</div>
            </div>
        </div>
</div>