<app-navigation></app-navigation>
<div class="box-1">
    <div class="category-1">
        <div class="imge">
            <img src="assets/img/user.png" alt="" class="img-1">
        </div>
        <div class="u-name">
            <h3 class="h3-1">Pratik Awadhiya</h3>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
               <li class="li-1">
                Level : Bronze
                <img src="assets/img/lvl.jpg" alt="" class="img-2">
               </li>
               <li class="li-2">
                Crystal : 4k
                <img src="assets/img/crystal.png" alt="" class="img-3">
               </li>
               <li class="li-3">Referrals : 5</li>
               <li>Commission : 10%</li>
                <li class="li-4">
                    1 Star Candidate
                    <img src="assets/img/rating.png" alt="" class="img-4">
                    
                    <button class="btn-1">Full Dashboard</button>
                </li>
            </div>
            <!-- <div class="purchase">
                <button class="btn-2">Purchase</button>
            </div> -->
        </div>
    </div>

    <div class="category-2">
        <h3 class="h3-2">Wow! You can get these items with your crystal...</h3>
        <div class="row-1">
            <div class="circle-1">
                <img src="assets/img/circl-1.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
            <div class="circle-2">
                <img src="assets/img/circl-2.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
            <div class="circle-3">
                <img src="assets/img/circl-3.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
        </div>

        <div class="hr">
            <hr class="hr-1">
        </div>

        <div class="vl"></div>
        <div class="vl-2"></div>

        <!-- row-2 -->

        <div class="row-2">
            <div class="circle-4">
                <img src="assets/img/circl-4.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
            <div class="circle-5">
                <img src="assets/img/car-1.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
            <div class="circle-6">
                <img src="assets/img/cleanup.jpg" alt="">
                <p class="p-1">
                    Get this in 3.5k
                </p>
            </div>
        </div>

    </div>
</div>

<div class="box-2">
    <img src="assets/img/meter-1.png" alt="" class="img5">
</div>

<app-footer></app-footer>