<app-navigation></app-navigation>
<div class="category-1">
  <div class="link">
    <li class="li-1"><a href="" class="a1">Help & Info</a></li>
    <li class="li-2"><a href="" class="a2">About Us</a></li>
    <li class="li-3"><a href="" class="a3">Careers</a></li>
    <li class="li-4"><a href="" class="a4">Blogs</a></li>

    <div class="dropdown">
      <button class="dropbtn">
        FAQs
        <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
      </button>
      <div class="dropdown-content">
        <a href="#">Login & Account</a>
        <a href="#">Refund & Pickup</a>
        <a href="#">Delivery</a>
        <a href="#">Cancellation</a>
      </div>
    </div>
  </div>
</div>
<!-- ctaegory-2 -->
<div class="category-2">
  <div class="box-1">
    <h2 class="h2-0">Welcome to 24X7 Help Centre of Crystals and Carats</h2>
  </div>

  <div class="content-1">
    <h4 class="h4-0">How quickly can I get my order delivered?</h4>
    <div class="para">
      <p class="p-0">
        Orders will be delivered by the date you see on the product page for
        your location.
      </p>

      <div class="msg-0">
        <h4 class="h4-1">
          My order has reached the nearest delivery hub, but why isn't it out
          for delivery yet?
        </h4>
        <p class="p-1">
          The courier service delivering your order are responsible for making
          sure that your order reaches you within the delivery date. Rest
          assured, you'll get an SMS once your shipment is out for delivery.
        </p>
      </div>
    </div>
  </div>
  <!-- content-2 -->
  <div class="content-2">
    <h2 class="h2-1">
      Why can't I track my order even though it has been shipped?
    </h2>
    <div class="msg-0">
      <p class="p-2">
        Courier services usually take upto 24 hours to activate tracking for an
        order once it's shipped. Please check again after the mentioned time
        frame.
      </p>
    </div>
  </div>
  <!-- content-3 -->
  <div class="content-3">
    <h2 class="h2-2">
      What are the standard shipping speeds and delivery charges?
    </h2>
    <div class="msg-0">
      <p class="p-3">
        Standard Delivery charges and shipping timelines vary based on several
        factors like the seller, type of the product, price of the product,
        order value and delivery pin code. Delivery timeline is displayed on the
        product page. You can choose a delivery pin code on the product page and
        it will display the list of sellers who cater to that location and the
        applicable shipping charges.
      </p>
    </div>
  </div>
  <!-- content-4 -->
  <div class="content-4">
    <h2 class="h2-3">How do I track my order?</h2>
    <div class="msg-0">
      <p class="p-4">
        Once your order gets shipped, a tracking ID gets generated. You can find
        this in the 'Orders' section of your app. If your order has been shipped
        with Blue Dart, you can use the tracking ID to find out where your order
        is currently by clicking here: bluedart.com. Similarly for other
        couriers, you can use the respective tracking ID to track your order on
        that courier's website.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
