<app-navigation></app-navigation>
<div class="box-1">
    <div class="heading">
        <h3 class="h3-1">How to Get Started</h3>
    </div>

    <img src="assets/img/join.png" alt="">

    <div class="row-1">
        <div class="text-1">Create an Account</div>
        <a><div class="text-2">Choose Plan</div></a>
        <a><div class="text-3">Invite More People</div></a>
        <a><div class="text-4">Get Commission</div></a>
    </div>

    <div class="category-1">
        <h3 class="h3-2">Refer a Friend</h3>
        <div class="content">
            <p class="p-1">
                Share a free 500 Crystals credit with friends, and for every one who uses it, you’ll earn 500 Crystals referral credit!
            </p>
        </div>

        <div class="content-2">
           <ul class="ul-1">
            <li>500 Crystals for you, 500 Crystals for a friend.</li>
            <li> For VIP 2000 Crystals for you, 1000 Crystals for a friend.</li>
            <li>Keep referring, keep earning.</li>
            <a href="" class="a1">Refer</a>
           </ul>
        </div>
    </div>

    <div class="category-2">
        <img src="assets/img/jim.png" alt="">
    </div>

</div>
<app-footer></app-footer>