.category-1,
.category-2{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.category-1
{
    width: 30%;
    height: 118vh;
    /* border: 1px solid red; */
    float: left;
}

.box-4 img{
    width: 70%;
    height: 50vh;
    border: 1px solid black;
    margin-top: 2em;
    margin-left: 3.4em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-4 
{
    margin-left: 6em;
    margin-top: 2em;
    background-color: #223722;
    color: white;
    width: 40%;
    height: 5vh;
    border-radius: 20px;
    font-size: 18px;
}
.btn-5
{
    margin-left: 6em;
    margin-top: 2em;
    background-color: #223722;
    color: white;
    width: 40%;
    height: 5vh;
    border-radius: 20px;
    font-size: 18px;
}



.category-2{
    width: 70%;
    height: 118vh;
    /* border: 1px solid blue; */
    float: left;
}
.p-1{
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 600;
}

.special{
    display: flex;
    gap: 20px;
}
.price{
    font-size: 28px;
    font-weight: 600;
}
.rate{
    font-size: 18px;
    text-decoration: line-through;
    margin-top: 0.5em;
    font-weight: 500;
}
.off{
    font-size: 24px;
    margin-top: 0.2em;
    font-weight: 500;
}
.vip{
 display: flex;   
}
.sec-price{
    font-size: 20px;
    font-weight: 500;
    margin-top: 1em;
}
.btn-1{
    margin-top: 1em;
}

.box-1
{
    display: flex;
    margin-top: 1em;
    gap: 10px;
}
.bx-1{
    width: 300px;
    height: 7vh;
    border: 1px solid black;
    border-radius: 11px;
    display: flex;
}
.img{
    width: 15px;
    margin-left: 0.3em;
    margin-top: 0.2em;
    /* display: flex; */
}
.h-1{
    margin-top: -1em;
    margin-left: 1.3em;
}
.p-2{
    margin-top: -1em;
    margin-left: -1em;
    font-size: 14px;
    font-weight: 600;
}
.h4-2{
    margin-top: 0.3em;
    margin-left: 0.2em;
}

.bx-2{
    width: 300px;
    height: 7vh;
    border: 1px solid black;
    border-radius: 11px;
}

.img-1{
    width: 33px;
    margin-top: 0.8em;
    margin-left: 0.3em;
}
.p-3{
    margin-top: -1.5em;
    font-size: 14px;
    font-weight: 600;
    margin-left: 2.4em;
}

.box-2{
    display: flex;
    margin-top: 1em;
    gap: 10px;
}
.bx-3{
    width: 300px;
    height: 7vh;
    border: 1px solid black;
    border-radius: 11px;
}
.icon{
    margin-left: 0.3em;
    margin-top: 0.3em;
    font-size: 24px;
}
.p-4{
    margin-left: 3em;
    margin-top: -1.4em;
    font-weight: 600;
}
.bx-4{
    width: 300px;
    height: 7vh;
    border: 1px solid black;
    border-radius: 11px;
    background-color: rgb(163, 255, 163);
}
.p-5
{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}


.category-3,
.category-4{
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    margin-top: 3em;
    margin-left: -4em;
}

.category-3
{
    width: 50%;
    height: 55.2vh;
    /* border: 1px solid red; */
    float: left;
}

.h4-3{
    font-size: 20px;
    text-align: center;
}
.input{
    display: flex;
    margin-left: 10em;
    margin-top: 2em;
    gap: 4px;
}
.input-1::placeholder{
    color: black;
}
.btn-3{
    border-radius: 20px;
}
.p-12{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.p-13
{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.p-13 span{
    color: #223722;
}


.category-4
{
    width: 50%;
    height: 55.2vh;
    /* border: 1px solid blue; */
    float: left;
}
.h4-4
{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;

}
.sub{
    display: flex;
    margin-top: -1.8em;
   
}
.h5-1{
    font-size: 16px;
    margin-left: 8em;
}
.p-6{
    display: flex;
    margin-top: 1.7em;
    margin-left: 11em;
}

.sal{
    display: flex;
    margin-top: -2em;
}
.h5-2{
    font-size: 16px;
    margin-left: 7em;
}
.p-7{
    margin-top: 1.7em;
    margin-left: 10em;
}
.coup
{
    display: flex;
    margin-top: -2em;
}
.h5-3{
    font-size: 16px;
    margin-left: 7em;
}
.p-8{
    margin-top: 1.7em;
    margin-left: 8em;
}
.deli{
    display: flex;
    margin-top: -2em;
}
.h5-4{
    font-size: 16px;
    margin-left: 7em;
}
.p-9{
    margin-top: 1.7em;
    margin-left: 11em;
}
.tot
{
    display: flex;
    margin-top: -2em;
}
.h5-5{
    font-size: 16px;
    margin-left: 5em;
}
.p-10{
    margin-top: 1.7em;
    margin-left: 8em;
}
.sav{
    display: flex;
    margin-top: -2em;
}
.h5-6{
    font-size: 16px;
    margin-left: 7em;
}
.p-11{
    margin-top: 1.7em;
    margin-left: 10em;
}
.btn-2{
    width: 40%;
    margin-left: 11em;
    background-color: #223722;
    color: aliceblue;
}