<app-navigation></app-navigation>
<div class="row1">
    <div class="box1">
        <img src="assets/img/p9.jpg" alt="">
    </div>
    
</div>

<!-- Container -->
<div class="row-2">
    <div class="box-1">
        <h2 class="h1">EARRINGS</h2>
        <hr class="hr-1">
        <div class="columns1">
            <div class="column-1">
                <img src="assets/img/p10.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-2">
                <img src="assets/img/p11.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-3">
                <img src="assets/img/p12.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-4">
                <img src="assets/img/p13.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns2 -->
        <div class="columns2">
            <div class="column-5">
                <img src="assets/img/p14.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-6">
                <img src="assets/img/p15.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-7">
                <img src="assets/img/p16.png" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-8">
                <img src="assets/img/p17.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- column-3 -->
        <h2 class="h2">PENDANTS</h2>
        <hr class="hr-2">
        <div class="columns3">
            <div class="column-9">
                <img src="assets/img/p18.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-10">
                <img src="assets/img/p19.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-11">
                <img src="assets/img/p20.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-12">
                <img src="assets/img/p21.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- column-4 -->
        <div class="columns4">
            <div class="column-13">
                <img src="assets/img/p22.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-14">
                <img src="assets/img/p23.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-15">
                <img src="assets/img/p24.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-16">
                <img src="assets/img/p25.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns5 -->
        <h2 class="h3">FINGER RINGS</h2>
        <hr class="hr-3">
        <div class="columns5">
            <div class="column-17">
                <img src="assets/img/p26.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-18">
                <img src="assets/img/p27.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-19">
                <img src="assets/img/p28.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-20">
                <img src="assets/img/p29.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns6 -->
        <div class="columns6">
            <div class="column-21">
                <img src="assets/img/p30.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-22">
                <img src="assets/img/p31.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-23">
                <img src="assets/img/p32.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-24">
                <img src="assets/img/p33.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns7 -->
        <h2 class="h4">COINS</h2>
        <hr class="hr-4">
        <div class="columns7">
            <div class="column-25">
                <img src="assets/img/p34.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-26">
                <img src="assets/img/p35.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-27">
                <img src="assets/img/p36.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-28">
                <img src="assets/img/p37.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns8 -->
        <div class="columns8">
            <div class="column-29">
                <img src="assets/img/p38.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-30">
                <img src="assets/img/p39.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-31">
                <img src="assets/img/p40.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-32">
                <img src="assets/img/p41.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns9 -->
        <h2 class="h5">NOSE PINS</h2>
        <hr class="hr-5">
        <div class="columns9">
            <div class="column-33">
                <img src="assets/img/p42.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-34">
                <img src="assets/img/p43.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-35">
                <img src="assets/img/p44.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-36">
                <img src="assets/img/p45.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- column10 -->
        <div class="columns10">
            <div class="column-37">
                <img src="assets/img/p46.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-38">
                <img src="assets/img/p47.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-39">
                <img src="assets/img/p48.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-40">
                <img src="assets/img/p49.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- columns11 -->
        <h2 class="h6">NECKLACES</h2>
        <hr class="hr-6">
        <div class="columns11">
            <div class="column-41">
               <img src="assets/img/P50.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-42">
                <img src="assets/img/P51.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-43">
                <img src="assets/img/p52.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-44">
                <img src="assets/img/p53.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- column12 -->
        <div class="columns12">
            <div class="column-45">
                <img src="assets/img/p54.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-46">
                <img src="assets/img/P55.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-47">
                <img src="assets/img/p60.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
            <div class="column-48">
                <img src="assets/img/p57.jpg" alt="">
                <div class="txt-1">
                    ₹10500 / <span>VIP ₹9000</span>
                </div>
                <div class="link">
                    <a href="" class="a-1">SHOP NOW</a>
                </div>
            </div>
           
        </div>
        <!-- end of the columns -->
    </div>
</div>
<app-footer></app-footer>