<app-navigation></app-navigation>
<div class="box-1">
    <h3 class="h3-1">
        VIP Customer Perks
    </h3>

    <div class="row-1">
        <div class="bx-1">
            <img src="assets/img/x7.png" alt="">
            <div class="content">
               <h4 class="h4-1"> 15% off</h4>
                <p class="p-1">
                    15% off all products
                </p>
            </div>
        </div>
        <div class="bx-2">
            <img src="assets/img/x6.png" alt="">
            <div class="content-1">
                <h4 class="h4-2">Free Shiping</h4>
                <p class="p-2">
                    Free shipping on qualified Flexship orders over ₹8000 or more!
                </p>
            </div>
        </div>
        <div class="bx-3">
            <img src="assets/img/x5.png" alt="">
            <div class="content-1">
                <h4 class="h4-3">VIP Crystals</h4>
                <p class="p-3">
                    Earn VIP Crystals with every purchase, Referrals and enjoy exclusive rewards!
                </p>
            </div>
            <button mat-raised-button color="primary" type="button" class="btn-1">Learn more...</button>
        </div>
    </div>
    <!-- Row-2 -->
    <div class="row-2">
        <div class="bx-4">
            <img src="assets/img/x4.png" alt="">
            <div class="content-1">
                <h4 class="h4-4">Only For You</h4>
                <p class="p-4">
                    Free Only For You product (valued at ₹ 2500) in each qualifying Flexship order*!
                </p>
            </div>
        </div>
        <div class="bx-5">
            <img src="assets/img/x3.png" alt="">   <div class="content-1">
                <h4 class="h4-5">A Birthday Treat</h4>
            </div>

        </div>
        <div class="bx-6">
            <img src="assets/img/x2.png" alt="">
            <div class="content-1">
                <h4 class="h4-6">Promotions</h4>
                <p class="p-6">
                    Access to exclusive money-saving Flash Sales and promotions
                </p>
            </div>
        </div>
    </div>

    <!-- bx-7 -->
    <div class="bx-7">
        <img src="assets/img/x1.png" alt="">
        <div class="content-1">
            <h4 class="h4-7">Purchase +™</h4>
            <p class="p-7">
                Additional savings with Purchase +™
            </p>
        </div>
    </div>
</div>

<div class="box-2">
    <h3 class="h3-2">Enroll in our Flexship Program!</h3>

    <div class="bx-8">
        <img src="assets/img/x9.png" alt="">
        <h4 class="h4-8">Flexship Program</h4>
    </div>

    <div class="bx-9">
        <h4 class="h4-9">How to Sign Up:</h4>
        <div class="row-3">
            <div class="bx-10">
                <div class="content">
                    <p class="p-8">
                      1.A one-time ₹ 50000 enrollment fee will be added to your enrollment order
                    </p>
                </div>
            </div>
            <div class="bx-11">
                <div class="content">
                    <p class="p-9">
                      2.Select ₹ 9000 or more worth of products and select your free Only For You for your enrollment order.
                    </p>
                </div>
            </div>
            <div class="bx-12">
                <div class="content">
                    <p class="p-10">
                      3.Create ₹ 9000 and schedule a Flexship order* of or more.**
                    </p>
                </div>
            </div>
        </div>
        <div class="sents">
            <p class="p-11">
                *A Flexship order is a customizable recurring order that you create upon enrollment. You can schedule your Flexship order to ship every 30 or 60 days. 
            </p>
            <p class="p-12">
                **VIP Customers who enroll may opt out and reinstate their scheduled Flexship at any time from their account page.
            </p>
        </div>
        <div class="joinbtn">
            <button mat-raised-button color="primary" type="button" class="btn-2">Join Now</button>
        </div>
        <div class="query">
            <p class="p-13">
                For more information on the Flexship Program, click the Flexship Program FAQ below.  
            </p>
        </div>
        <div class="link">
            <a href="" class="a-1">FAQ</a>
        </div>
    </div>
</div>

<!-- box-3 -->
<div class="box-3">
    <img src="assets/img/x12.png" alt="">
    <div class="lines">
      <h3 class="h3-3">
        DEMO & LOGO offers a 30-day money-back satisfaction guarantee less shipping and handling charges.
      </h3>
      <p class="p-14">
        If you are not satisfied with any Demo & Logo product you buy for any reason, you may return the unused portion of the product to C&C within 30 days for a full refund of the purchase price (less shipping and handling charges) while enrolled in the VIP Flexship Program.
      </p>
    </div>
</div>

<app-footer></app-footer>