<app-navigation></app-navigation>

<div class="box-1">
    <div class="category-1">
        <div class="bx-1">
            <img src="assets/img/circl-1.jpg" alt="">
        </div>
        <div class="row-1">
            <div class="add">
                <button mat-raised-button color="primary" class="btn-1">Add To Cart</button>
            </div>
            <div class="buy">
                <button mat-raised-button color="warn" class="btn-2">Buy Now</button>
            </div>
        </div>

        <!-- icons -->
       <div class="row-2">
         <div class="star">
            <a href=""><fa-icon [icon]="faStar" class="fa-1"></fa-icon></a>
            <div class="txt-1">
                Trending Design
            </div>
         </div>

            <div class="tag">
                <a href=""><fa-icon [icon]="faTag" class="fa-2"></fa-icon></a>
                <div class="txt-2">
                    Best Prices
                </div>
            </div>
       </div>

       <!-- checkbox -->
       <div class="check">
        <mat-checkbox class="example-margin" [disabled]="false" class="check-1">Easy Returns</mat-checkbox>
       </div>

    </div>

    <div class="category-2">
        <div class="heading">
            <h3>Blue Rosmic Racher</h3>
            <p>
                This blue diamond sparkled like a piece of the serene sky captured within a precious gemstone.
            </p>
          </div>
    
          <div class="rows-1">
            <h4>Special Price</h4>
            <p>
                Rs. 7500 / 10.5k crystals
            </p>
            <div class="p-text">
               Rs 10000 
            </div>
            <div class="p-txt2">
               25% off
            </div>
          </div>
    
          <div class="row-3">
            <div class="rat-box">
                <div class="num">
                    4
                </div>
                <a href=""><fa-icon [icon]="faStar" class="fa-3"></fa-icon></a>
            </div>
          </div>
          <div class="r-text">
            1500 ratings and 300 reviews
          </div>
    
          <div class="row-4">
            <h4>Available offers</h4>
            <div class="avi-text">
              <li><fa-icon [icon]="faTag" class="fa-4"></fa-icon>
                Bank Offer10% off on HDFC Bank Credit Card EMI Transactions, up to ₹1,500 on orders of ₹7,500 and above <span>T&C</span> 
              </li>
              <li><fa-icon [icon]="faTag" class="fa-5"></fa-icon>
                Bank Offer10% off on Bank of Baroda Credit Card Txns, up to ₹1,500 on orders of ₹5,000 and above <span>T&C</span>
              </li>
              <li><fa-icon [icon]="faTag" class="fa-6"></fa-icon>
                Special PriceGet extra 14% off (price inclusive of cashback/coupon)<span>T&C</span> 
              </li>
              <div class="li-txt">
                <span>+5 more offers</span>
              </div>
            </div>
          </div>
    
          <div class="row-5">
            <div class="d-text">
              <i class='bx bx-search-alt'></i>
              Deliver to
            </div>
            <div class="input">
              <input type="text" placeholder="Enter Pinocde">
            </div>
            <div class="pa-text">
              Deliver by 21 Dec, Thursday | Free Delivery <span>T&C * applied</span>
            </div>
          </div>
    
            <div class="row-6">
              <div class="dropdown">
                <a href="" class="dropbtn">Product Details<mat-icon>keyboard_arrow_down</mat-icon></a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              <div class="pro-txt">
                Know your products authenticity
              </div>
            </div>
    
            <div class="row-7">
              <div class="dropdown">
                <a href="" class="dropbtn">Read Reviews<mat-icon>keyboard_arrow_down</mat-icon></a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              <div class="rev-txt">
                1500 ratings and 300 reviews
              </div>
            </div>
    </div>
</div>
<app-footer></app-footer>