<!-- <app-home></app-home> -->
<!-- <app-navigation></app-navigation> -->
<!-- <app-product></app-product> -->
<!-- <app-bestseller></app-bestseller> -->
<!-- <app-productpage1></app-productpage1> -->
<!-- <app-diamond></app-diamond> -->
<!-- <app-kundan></app-kundan> -->
<!-- <app-pearls></app-pearls> -->
<!-- <app-silver></app-silver> -->
<!-- <app-gems></app-gems> -->
<!-- <app-platinum></app-platinum> -->
<!-- <app-login></app-login> -->
<!-- <app-blog></app-blog> -->
<router-outlet></router-outlet>


<!-- <app-signup-dialog-box></app-signup-dialog-box> -->
<!-- <app-admin-dialog></app-admin-dialog> -->
<!-- <app-forget-dialog></app-forget-dialog> -->

<!-- EmailorText-Dialog -->
<!-- <app-textdialog></app-textdialog> -->

<!-- verification-Password-Dialog -->
<!-- <app-vfdialogone></app-vfdialogone> -->
<!-- <app-vfdialogtwo></app-vfdialogtwo> -->

<!-- join-Section -->
<!-- <app-join-ac></app-join-ac> -->
<!-- <app-joinpln></app-joinpln> -->
<!-- <app-joinppl></app-joinppl> -->




<!-- About Section -->
<!-- <app-about></app-about> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-helpcomponent></app-helpcomponent> -->
<!-- <app-careers></app-careers> -->
<!-- <app-faqone></app-faqone> -->
<!-- <app-faqtwo></app-faqtwo> -->
<!-- <app-faqthre></app-faqthre> -->
<!-- <app-faqfour></app-faqfour> -->


<!-- vipSection -->
<!-- <app-vipone></app-vipone> -->
<!-- <app-viptwo></app-viptwo> -->
<!-- <app-vipdone></app-vipdone> -->
<!-- <app-vipdtwo></app-vipdtwo> -->
<!-- <app-vipdthri></app-vipdthri> -->
<!-- <app-vipdfour></app-vipdfour> -->
<!-- <app-vipfive></app-vipfive> -->

<!-- Meter -->
<!-- <app-bronze></app-bronze> -->
<!-- <app-sillver></app-sillver> -->
<!-- <app-diiamond></app-diiamond> -->
<!-- <app-goldlvl></app-goldlvl> -->
<!-- <app-platiinum></app-platiinum> -->

<!-- purchase-component -->
<!-- <app-purchase></app-purchase> -->
<!-- <app-purchasevisit></app-purchasevisit> -->
<!-- <app-cart></app-cart> -->