<app-navigation></app-navigation>
<div class="category-1">
  <div class="link">
    <li class="li-1"><a href="" class="a1">Help & Info</a></li>
    <li class="li-2"><a href="" class="a2">About Us</a></li>
    <li class="li-3"><a href="" class="a3">Careers</a></li>
    <li class="li-4"><a href="" class="a4">Blogs</a></li>

    <div class="dropdown">
      <button class="dropbtn">
        FAQs
        <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
      </button>
      <div class="dropdown-content">
        <a href="#">Login & Account</a>
        <a href="#">Refund & Pickup</a>
        <a href="#">Delivery</a>
        <a href="#">Cancellation</a>
      </div>
    </div>
  </div>
</div>
<!-- ctaegory-2 -->
<div class="category-2">
  <div class="box-1">
    <h2 class="h2-0">Welcome to 24X7 Help Centre of Crystals and Carats</h2>
  </div>

  <div class="content-1">
    <h4 class="h4-0">
      What should I do if my order is approved but hasn't been shipped yet?
    </h4>
    <div class="para">
      <p class="p-0">
        Sellers usually ship orders 1-2 business days before the delivery date
        so that they reach you on time. In case your order hasn't been shipped
        within this time please contact our Customer Support so that we can look
        into it.
      </p>

      <div class="msg-0">
        <h4 class="h4-1">How quickly can I get my order delivered?</h4>
        <p class="p-1">
          Orders will be delivered by the date you see on the product page for
          your location.
        </p>
      </div>
    </div>
  </div>
  <!-- content-2 -->
  <div class="content-2">
    <h2 class="h2-1">
      My order has reached the nearest delivery hub, but why isn't it out for
      delivery yet?
    </h2>
    <div class="msg-0">
      <p class="p-2">
        The courier service delivering your order are responsible for making
        sure that your order reaches you within the delivery date. Rest assured,
        you'll get an SMS once your shipment is out for delivery.
      </p>
    </div>
  </div>
  <!-- content-3 -->
  <div class="content-3">
    <h2 class="h2-2">
      When will I get my order once its status changes to 'Out for Delivery'?
    </h2>
    <div class="msg-0">
      <p class="p-3">
        Once an order is out for delivery, please wait till 11 PM for the
        delivery executive to deliver your order. For products that have a
        faster delivery option to your location, the time by which it can be
        delivered will be mentioned on the product page.
      </p>
    </div>
  </div>
  <!-- content-4 -->
  <div class="content-4">
    <h2 class="h2-3">
      What is Open Box delivery? Is Open Box delivery available for all the
      products?
    </h2>
    <div class="msg-0">
      <p class="p-4">
        Open box delivery is a benificial program for the customers to validate
        the physical condition of the product and accept the delivery only when
        its in a proper condition. No, the Open Box Delivery option is available
        on select products and locations only.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
