<app-navigation></app-navigation>

<div class="category-1">
    <div class="links">
        <ul class="ul-1">
            <li><a href="">Personal Details</a></li>
            <li><a href="">Crystal Counts</a></li>
            <li><a href="">Slab Progression</a></li>
            <li><a href="">Referral Details</a></li>
            <li class="li-5"><a href="">Commission</a></li>
        </ul>
    </div>
    <div class="btn">
        <button mat-raised-button color="primary" type="button" class="btn-1">
            <mat-icon>logout</mat-icon>    
            Logout
        </button>
    </div>
</div>
<!-- category-2 -->
<div class="category-2">
    <div class="box-1">
        <div class="head">
            <h3 class="h3-1">Welcome to Dashboard</h3>
        </div>
        <div class="lvl">
            <h3 class="h3-2">Level : Bronze</h3>
            <img src="assets/img/lvl.jpg" alt="" class="img-1">
        </div>
    </div>

        

   

</div>