<div class="category1">
    <h4 class="h4-2">FEATURED</h4>
    <hr class="hr-2">
    <div class="row-1">
        <div class="box-1">
            <img src="assets/img/sh-1.jpg" alt="">
            <div class="text">
                Gold and Diamond 
                <p class="p-1">Earrings</p>
            </div>
        </div>
        <div class="box-2">
            <img src="assets/img/r26.jpg" alt="">
            <div class="text">
                Nose Pin
            </div>
        </div>
        <div class="box-3">
            <img src="assets/img/r7.jpg" alt="">
            <div class="text">
                Gold Earrings
            </div>
        </div>
        <div class="box-4">
            <img src="assets/img/pearl_necklace_with_diamond.jpg" alt="">
            <div class="text">
                Pearl Necklace
            </div>
        </div>
    </div>
    <div class="row-2">
        <div class="box-5">
            <img src="assets/img/Gold_breslet.jpg" alt="">
            <div class="text">
                Bangles
            </div>
        </div>
        <div class="box-6">
           <img src="assets/img/p6.jpg" alt="">
           <div class="text">
            Coins
           </div>
        </div>
        <div class="box-7">
            <img src="assets/img/silverkamar.jpg" alt="">
            <div class="text">
                Silver Kamar Patta
               </div>
        </div>
    </div>
</div>
