@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");



/* shop-mega-section */
.mega-box {
  width: 70%;
  height: 70vh;
  border: 1px solid black;
}
.dropdown .mega-box {
  position: relative;
  display: inline-block;
  margin-top: 0.2em;
}
.dropdown .mega-box {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .mega-box {
  display: block;
}

/* category-1 */
.category1,
.category2 {
  display: inline-block;
  width: 50%; /* You can adjust the width as needed */
  margin: 0%; /* You can adjust the margin as needed */
  box-sizing: border-box;
}
.category1 {
  float: left;
  width: 30%;
  height: 70vh;
  /* border: 1px solid red; */
  background-color: #fff;
}

.category2 {
  float: left;
  width: 70%;
  height: 70vh;
  /* border: 1px solid yellow; */
}

.h4-1 {
  margin-left: 1em;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 400;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.hr-1 {
  margin-top: -1.3em;
  width: 58%;
  border: 1px solid black;
  transform: translate(-3em);
}
.h4-2 {
  margin-left: 3em;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 400;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.hr-2 {
  margin-top: -1.3em;
  width: 58%;
  border: 1px solid black;
  transform: translate(-6em);
}
/* row-1 */
.row-1 {
  display: flex;
  margin-left: 2em;
  margin-top: 1em;
  gap: 25px;
}
.box-1 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
  
}
.txt-1 {
  text-align: center;
}
.h5-1 {
  margin-top: 2em;
  font-family: "poppins";
  font-size: 12px;
}
.box-2 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}
.box-3 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}
.box-4 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}

.text {
  text-align: center;
  font-family: "poppins";
}
.p-1 {
  margin-top: -0.1em;
}
/* row-2 */
.row-2 {
  display: flex;
  margin-top: -0.3em;
  margin-left: 7em;
  gap: 25px;
}
.box-5 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}
.box-6 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}
.box-7 img {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
  border-radius: 11px;
}
.txt-2 {
  text-align: center;
}
.h5-2 {
  margin-top: 2em;
  font-family: "poppins";
  font-size: 12px;
}
/* category-1 left side */
.ul-1 li a {
  text-decoration: none;
  cursor: pointer;
}
.ul-1 li a:hover {
  text-decoration: none;
  cursor: pointer;
  color: red;
}

.ul-1 li {
  margin: 15px;
  margin-left: -3em;
}