<app-navigation></app-navigation>
<div class="box-1">
  <h3 class="h3-1">How To Earn Crystals</h3>
  <div class="content">
    <ol class="ol-1">
      <li class="li-1">By giving a referrals to Earn More Crystals.</li>
      <li class="li-2">
        By shopping for your favorite products and earning Crystals with every
        purchase.
      </li>
    </ol>
    <p class="p-1">
      Use your Crystals toward discounts on future purchases, and unlock even
      greater rewards as you continue shopping.
    </p>
  </div>
</div>

<!-- box-2 -->
<div class="box-2">
  <h3 class="h3-2">HOW IT WORKS:</h3>
  <img src="assets/img/vv.png" alt="" />

  <div class="row-1">
    <div class="bx-1">
      <img src="assets/img/o1.png" alt="" />
      <div class="content">
        <h4 class="h4-1">SHOP</h4>
        <p class="p-2">your favorite products.</p>
      </div>
    </div>
    <div class="bx-2">
      <img src="assets/img/o2.png" alt="" />
      <div class="content">
        <h4 class="h4-2">EARN</h4>
        <p class="p-3">crystals every time you shop.</p>
      </div>
    </div>
    <div class="bx-3">
      <img src="assets/img/o3.png" alt="" />
      <div class="content">
        <h4 class="h4-3">SAVE</h4>
        <p class="p-4">with ₹1500 off your next order.*</p>
      </div>
    </div>
  </div>
  <div class="lines">
    <p class="p-5">
        *Crystals can only be redeemed on regular or Flexship orders.
    </p>
  </div>
</div>

<!-- box-3 -->
<div class="box-3">
    <h3 class="h3-3">HOW YOU EARN POINTS:</h3>

    <div class="text-1">
        <h4 class="h4-4">₹1 Spent = 1.5 Crystals</h4>
    </div>

    <div class="bx-4">
        <div class="info">
            15000 Crystal = ₹1500 VIP Reward Coupon Off Your Next Order
        </div>
    </div>
</div>

<!-- box-4 -->
<div class="box-4">
    <div class="bx-5">
        <div class="info-1">
            Demo & Logo VIP REWARDS BENEFITS
        </div>
    </div>
    <img src="assets/img/z1.png" alt="">

    <div class="infos">
        <p class="p-6">
            *Surprise & Delight product is only awarded once in a Customer’s lifetime. Surprise & Delight product must be added to your next order.  
        </p>
        <p class="p-7">
            **VIP rewards expire in 90 days.
        </p>
    </div>
</div>

<!-- box-5 -->
<div class="box-5">
    <div class="btn">
        <button mat-raised-button color="warn" type="button" class="btn-1">FAQ</button>
    </div>
    <div class="info-2">
        <h4 class="h4-5">TERMS AND CONDITIONS</h4>
    </div>
    <div class="para">
        <p class="p-8">
            Purchases must be made within a 12-month period. Your Anniversary is the date in which you enrolled in the VIP Points Program. Newly enrolling VIP Customers are automatically enrolled in the VIP Points Program.
        </p>
    </div>
</div>
<app-footer></app-footer>