<app-navigation></app-navigation>
<div class="category-1">
    <div class="link">
        <li class="li-1"><a href="" class="a1">Help & Info</a></li>
        <li class="li-2"><a href="" class="a2">About Us</a></li>
        <li class="li-3"><a href="" class="a3">Careers</a></li>
        <li class="li-4"><a href="" class="a4">Blogs</a></li>

        <div class="dropdown">
            <button class="dropbtn">
                FAQs
                <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
            </button>
            <div class="dropdown-content">
              <a href="#">Login & Account</a>
              <a href="#">Refund & Pickup</a>
              <a href="#">Delivery</a>
              <a href="#">Cancellation</a>
            </div>
          </div>
    </div>
</div>
<!-- ctaegory-2 -->
<div class="category-2">
    <div class="box-1">
        <h2 class="h2-0">Welcome to 24X7 Help Centre of Crystals and Carats</h2>
    </div>

    <div class="content-1">
        <h4 class="h4-0">What are the modes of refund available after cancellation?</h4>
        <div class="para">
            <p class="p-0">
                The different modes of refund available are:
                Payment mode: Cash on Delivery
            </p>
            <ol class="ol-1">
                <li class="li-5">
                    UPI (Amount less than Rs 1000) - Refund will be processed to the UPI account for which UPI ID has to be shared
                </li>
                <li class="li-6">
                    Gift Card (Amount less than Rs 10000) - Refund will be processed to Gift Card account
                </li>
                <li class="li-7">
                    Bank account (IMPS/NEFT) - Refund will be processed to bank account for which bank details have to be shared.
                </li>
            </ol>   

            <div class="msg-0">
                <h4 class="h4-1">Payment mode: Prepaid</h4>
                <p class="p-1">
                    1. Back to source - Refund will be processed to the payment mode(Debit/Credit card, NEFT, UPI) used to pay for the order
                    2. Gift Card (Amount less than Rs 10000) - Refund will be processed to Gift Card account.
                </p>
            </div>
        </div>
    </div>
    <!-- content-2 -->
        <div class="content-2">
            <h2 class="h2-1">My pickup is completed, when the refund will get processed?</h2>
            <div class="msg-0">
                <p class="p-2">
                    It usually takes 24 hrs of time for the pickup status to get updated in the system, post which a refund is processed from seller end.
                </p>
            </div>
        </div>
    <!-- content-3 -->
        <div class="content-3">
            <h2 class="h2-2">Can I ask the delivery agent to reschedule the pickup date?</h2>
            <div class="msg-0">
                <p class="p-3">
                    Yes. You can schedule the pickup date based on your convenience.
                </p>
            </div>
        </div>
    <!-- content-4 -->
        <div class="content-4">
            <h2 class="h2-3">Can I change the address for the pick-up the of item(s) in my order?</h2>
            <div class="msg-0">
                <p class="p-4">
                    If the pincode of the new address is serviceable for pick-up, the address can be changed while creating the return. The address cannot be changed in case the new address is not serviceable.
                </p>
            </div>
        </div>
</div>
<app-footer></app-footer>