<div class="category1">
  <img src="assets/img/bgr.png" alt="" />

  <div class="footer-contnt">
    &copy;2023 Crystal & Carats, Inc. No reproduction in whole or in part without
    written permission. All Rights Reserved. All trademarks and product images
    exhibited on this site, unless otherwise indicated, are the property of
    Herbalife International, Inc.
  </div>
</div>

<div class="category2">
    <div class="info">
        <h5 class="L1">information</h5>
        <div class="colms">
            <div class="link1">
               <a href=""><fa-icon [icon]="faLinkedinIn" class="L2"></fa-icon></a>
            </div>
            <div class="link1">
               <a href=""><fa-icon [icon]="faInstagram" class="L3"></fa-icon></a>
            </div>
            <div class="link1">
               <a href=""><fa-icon [icon]="faXTwitter" class="L4"></fa-icon></a>
            </div>
            <div class="link1">
              <a href=""><fa-icon [icon]="faWhatsapp" class="L5"></fa-icon></a>
            </div>
        </div>
    </div>

    <!-- Last-Contents -->
    
    <div class="last-contents">
      <div class="contact">
        <h5 class="m1">Contact Us</h5>
      </div>
      <div class="T&c">
        <h5 class="m2">Terms and Conditions</h5>
      </div>
      <div class="pvp">
        <h5 class="m3">Privacy Policy</h5>
      </div>
      <div class="co">
        <h5 class="m4">Coorperate Oppurtunities</h5>
      </div>
      <div class="cr">
        <a href="" class="a2"><h5 class="m5">Careers</h5></a>
      </div>
      <div class="cr">
        <h5 class="m6">Compliance Document</h5>
      </div>
      <div class="cr">
        <a href="" class="a1"><h5 class="m7">Help & info</h5></a>
      </div>
    </div>
    <div class="uppr-arrow">
      <button class="btn-1"><svg xmlns="http://www.w3.org/2000/svg" height="26" width="26" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg></button>
    </div>

</div>
