<app-navigation></app-navigation>

<div class="box">
  <img src="assets/img/e39.png" alt="" />
</div>

<div class="row-1">
    <div class="box-1">
       <div class="text">
        LATEST
        <p class="p-1">
            BLOGS
        </p>
       </div>
    </div>
    <div class="box-2">
        <div class="text-1">
            By inspired hearts, our jewellery is consciously made to look and feel good on skin.
            <p class="p-2">
                How do you care them? We will help you.
            </p>
        </div>
    </div>
</div>

<div class="box-3">
    <div class="row-2">
        <div class="bx-1">
            <img src="assets/img/vc-1.png" alt="">
            <div class="text-2">
                Tips to take care 
                <p class="p-3">
                    of your Crystals
                </p>
            </div>
        </div>
        <div class="bx-2">
            <img src="assets/img/vc-2.jpg" alt="">
            <div class="text-3">
                Tips to take care 
                <p class="p-4">
                    of your Carats
                </p>
            </div>
        </div>
        <div class="bx-3">
            <img src="assets/img/vc-3.jpg" alt="">
            <div class="text-4">
                Tips to take care
                <p class="p-5">
                    of Bridal Sets
                </p>
            </div>
        </div>
    </div>
</div>

<div class="category-1">
    <img src="assets/img/vc-4.png" alt="">
</div>

<div class="category-2">
    <div class="text-5">
        It is a season of breezy dresses and boho jewellery to go funky and light. Colourful gemstones and sea-inspired jewellery like shell necklaces and pearl jewellery sets are the essence of every summer wardrobe.
        <p class="p-6">
            Seasonal Trends in Jewellery and Accessories
        </p>
    </div>
</div>
<app-footer></app-footer>