<app-navigation></app-navigation>

<div class="category-1">
    <div class="links">
        <ul class="ul-1">
            <li><a href="">Personal Details</a></li>
            <li><a href="">Crystal Counts</a></li>
            <li><a href="">Slab Progression</a></li>
            <li><a href="">Referral Details</a></li>
            <li><a href="">Commission</a></li>
        </ul>
    </div>
    <div class="btn">
        <button mat-raised-button color="primary" type="button" class="btn-1">
            <mat-icon>logout</mat-icon>    
            Logout
        </button>
    </div>
</div>
<!-- category-2 -->
<div class="category-2">
<div class="box-1">
    <div class="head">
        <h3 class="h3-1">Welcome to Dashboard</h3>
    </div>
    <div class="lvl">
        <h3 class="h3-2">Level : Bronze</h3>
        <img src="assets/img/lvl.jpg" alt="" class="img-1">
    </div>
</div>

    <!-- profile-icons -->
    <div class="row-1">
        <div class="profile">
            <img src="assets/img/iop.png" alt="" class="img-2">
            <h3 class="h3-3">VIP</h3>
        </div>
        <div class="icn">
            <mat-icon>create</mat-icon>
        </div>
    </div>

    <div class="row-2">
        <div class="refrl">
            <label for="" class="label-1">Referral Code</label>
            <input type="text" name="" id="" class="input-1">
        </div>
        <div class="loop">
            <mat-icon class="icn-2">loop</mat-icon>
        </div>
    </div>

    <!-- form -->
    <form action="">
        <div class="inputs">
            <label for="" class="label-2">Your Name</label>
            <input type="text" placeholder="first name" class="input-2">
            <input type="text" placeholder="last name" class="input-3">
            <div class="mat">
                <mat-icon class="mat-1">create</mat-icon>
            </div>
        </div>

        <div class="addrs">
            <label for="" class="label-3">Address</label>
            <input type="text" placeholder="Address" class="input-4">
            <div class="mat">
                <mat-icon class="mat-2">create</mat-icon>
            </div>
        </div>

        <div class="email">
            <label for="" class="label-4">Email</label>
            <input type="email" placeholder="Email" class="input-5">
            <div class="mat">
                <mat-icon class="mat-2">create</mat-icon>
            </div>
        </div>

        <div class="mobil">
            <label for="" class="label-5">Mobile</label>
            <input type="text" placeholder="first name" class="input-6">
            <div class="mat">
                <mat-icon class="mat-3">create</mat-icon>
            </div>
            <label for="" class="label-6">Alt-Mobile</label>
            <input type="text" placeholder="last name" class="input-7">
            <div class="mat">
                <mat-icon class="mat-4">create</mat-icon>
            </div>
        </div>
    </form>

</div>