<app-navigation></app-navigation>

<div class="row-3">
  <div class="boxes">
    <div class="box-1">
        <img src="assets/img/Ellipse 19.png" alt="">
        <div class="txt1">
            <h3 class="h1">Gold</h3>
        </div>
    </div>
    <div class="box-2">
        <img src="assets/img/Ellipse 20.png" alt="">
        <div class="txt1">
            <h3 class="h2">Diamond</h3>
        </div>
    </div>
    <div class="box-3">
        <img src="assets/img/Ellipse 21.png" alt="">
        <div class="txt1">
            <h3 class="h3">Glass Kundan</h3>
        </div>
    </div>
    <div class="box-4">
        <img src="assets/img/Ellipse 22.png" alt="">
        <div class="txt1">
            <h3 class="h4">Pearls</h3>
        </div>
    </div>
  </div>

  <div class="row-4">
    <div class="boxes2">
        <div class="box-5">
            <img src="assets/img/Ellipse 23.svg" alt="">
            <div class="txt1">
                <h3 class="h5">Silver</h3>
            </div>
        </div>
        <div class="box-6">
            <img src="assets/img/Ellipse 24.svg" alt="">
            <div class="txt1">
                <h3 class="h6">Coins</h3>
            </div>
        </div>
        <div class="box-7">
            <img src="assets/img/Ellipse 25.svg" alt="">
            <div class="txt1">
                <h3 class="h7">Gems</h3>
            </div>
        </div>
        <div class="box-8">
            <img src="assets/img/Ellipse 26.svg" alt="">
            <div class="txt1">
                <h3 class="h8">Platinum</h3>
            </div>
        </div>
      </div>
  </div>
</div>

<app-footer></app-footer>



