<app-navigation></app-navigation>
<div class="category-1">
    <div class="link">
        <li class="li-1"><a href="" class="a1">Help & Info</a></li>
        <li class="li-2"><a href="" class="a2">About Us</a></li>
        <li class="li-3"><a href="" class="a3">Careers</a></li>
        <li class="li-4"><a href="" class="a4">Blogs</a></li>

        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="dropdown-button">
           FAQs
            <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >Option 1</button>
            <button mat-menu-item >Option 2</button>
            <button mat-menu-item >Option 3</button>
          </mat-menu>
    </div>
    
</div>
<!-- ctaegory-2 -->
<div class="category-2">
<div class="box-1">
    <h2 class="h2-0">Welcome to 24x7 Help Center of Crystal & Carats</h2>
</div>

<div class="row-1">
    <div class="content-1">
        <h3 class="h3-1">
            Crystal & Carats Jewelry > About us
        </h3>
        <div class="para">
            <p class="p-1">
                Welcom to crystal & Carats Jewelry, Your source for beautiful and unique handcarfted jewelry pieces.
                Our passion for craftmanship and dedication to quality have made us a leading name in the world of artisan jewlwry.
            </p>
            <p class="p-2">
                At Crystal & Carat,each piece is meticulously crafted with precision and care. Our team of skilled artisan
                combines traditional techniques with morden design,resulting in jewelry that reflects both elegance and contemporary style.
            </p>
        </div>
    </div>

    <!-- content-2 -->
    <div class="content-2">
        <h3 class="h3-2">
            Crystal & Carats Jewelry > Our Mission
        </h3>
        <div class="para-2">
            <p class="p-3">
              Our mission is to create jewelry that not only enhance your style but also carries a story.
              We belive inthe power of self-expression through accessories,and each piece in our collection is designed to 
              resonate with your unique peronality.
            </p>
        </div>
    </div>

    <!-- content-3 -->
    <div class="content-3">
        <h3 class="h3-3">
            Crystal & Carats Jewelry > Our Commitment to Sustainability
        </h3>
        <div class="para-3">
            <p class="p-4">
              Crystal & Carat Jewelry is committed to sustainable and ethical practices.
              We source our materials responsibly,prioritize fair labor practices,and strive to
              minimize our environmental impact. By choosing our jewelry,you are not only embracing beauty but also
              supporting a commitment to a better and more sustainable future.
            </p>
        </div>
    </div>


    <div class="content-4">
        <h3 class="h3-4">
            Crystal & Carats Jewelry > Contact Us
        </h3>
        <div class="para-4">
            <p class="p-5">
              If you have any questions or inquiries,feel free to reach out to us.
              We love hearing from our customers! 
            </p>
            <p class="p-6">
                Thankyou for choosing Crystal & Carat Jewelry. We look forward to being a part of your journey in expressing your
                individuality through our stunning creations.
            </p>
        </div>
    </div>

</div>

</div>
<app-footer></app-footer>