<app-navigation></app-navigation>

<!-- header ke niche ka image -->
<div class="row-1">
  <img src="assets/img/hd-1.png" alt="" />
</div>

<div class="row-2">
  <div class="circle-1">
    <img src="assets/img/ic-1.png" alt="" />
    <div class="h4">
      <h4 class="h-1">Get a bonus of <span>1000</span> crystals</h4>
    </div>
  </div>
  <div class="circle-2">
    <img src="assets/img/ic-2.png" alt="" />
    <div class="h4">
      <h4 class="h-2">Take VIP plan and get <span>10000</span> more crystals</h4>
    </div>
  </div>
  <div class="circle-3">
    <img src="assets/img/ic-3.png" alt="" />
    <div class="h4">
      <h4 class="h-3"><span>500</span> bonus crystal on each referal by your friends.</h4>
    </div>
  </div>
</div>

<!-- product seller -->

<div class="column-1">
  <h4 class="h1">Popular Products</h4>
  <div class="row-3">
    <div class="circle1">
      <img src="assets/img/c1.jpg" alt="" />
      <div class="h2">
        <h2 class="h11">GemStones</h2>
      </div>
    </div>
    <div class="circle2">
      <img src="assets/img/c2.jpg" alt="" />
      <div class="h2">
        <h2 class="h12">Gold</h2>
      </div>
    </div>
    <div class="circle5">
      <img src="assets/img/circl-2.jpg" alt="" />
      <div class="h2">
        <h2 class="h12">Silver</h2>
      </div>
    </div>
  </div>

  <div class="row-4">
    <div class="circle3">
      <div class="h2">
        <img src="assets/img/c3.jpg" alt="" />
        <h2 class="h13">Platinum</h2>
      </div>
    </div>
    <div class="circle4">
      <div class="h2">
        <img src="assets/img/c4.jpg" alt="" />
        <h2 class="h14">Diamond</h2>
      </div>
    </div>
    <div class="circle6">
      <div class="h2">
        <img src="assets/img/p70.jpg" alt="" />
        <h2 class="h14">Pearls</h2>
      </div>
    </div>
  </div>

  <!-- description -->
  <div class="d-heading">
    <h2 class="h1-1">Our Products are Forever</h2>
    <p class="p1">
      "Elevate your style with timeless elegance. Discover the allure of Crystal
      Carat's exquisite jewelry collection – where sophistication meets sparkle.
      Embrace luxury that lasts a lifetime."
    </p>
  </div>
</div>

<!-- Join-Us wala Part -->
<div class="column2">
  <img src="assets/img/cleanup.jpg" alt="" />

  <div class="txt1">
    <h1 class="h_1">Join Us and be the part of our family....</h1>
  </div>

  <div class="join">
    <button class="join-btn">Join Us</button>
  </div>

  <div class="txt2">
    Become a partner today !! Join us and get a joining bonus of 1000
    crystals.....
  </div>
</div>

<!-- column3 -->
<div class="column3">
  <img src="assets/img/GoldHallmarkingIndia.jpg" alt="" />

  <div class="txt3">
    refer it to your friends and family and get bonus of 500 crystals each time
    when they join using your referral and whenever they buy any product from
    us.......
  </div>

  <div class="claim">
    <button class="claim-btn">
        Claim Rewards
    </button>
  </div>

</div>

<!-- column-4 -->
<div class="column4">
    <div class="heading">
        <h1 class="h-12">
            Achiever’s Testimonial
        </h1>
    </div>

    <div class="rows">
        <div class="box-1">
            <img src="assets/img/s-1.png" alt="">
            <div class="h4">
                <h4 class="H1">
                    MBappe
                </h4>
                <div class="para">
                    <p class="p2">
                        Exquisite craftsmanship, timeless elegance—each piece tells a story of love and luxury, a cherished treasure. 
                    </p>
                </div>
            </div>
        </div>

        <div class="box-2">
            <img src="assets/img/s-2.png" alt="">
            <div class="h4">
                <h4 class="H2">
                    Christiana
                </h4>
                <div class="para">
                    <p class="p3">
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard  
                    </p>
                </div>
            </div>
        </div>

        <div class="box-3">
            <img src="assets/img/s-3.png" alt="">
            <div class="h4">
                <h4 class="H3">
                    Raju
                </h4>
                <div class="para">
                    <p class="p4">
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="circles">
        <div class="cicrl">
            <img src="assets/img/k1.jpg" alt="">
        </div>
        <div class="cicr2">
            <img src="assets/img/women.jpg" alt="">
        </div>
        <div class="cicr3">
            <img src="assets/img/k3.jpg" alt="">
        </div>
    </div>

</div>

<!-- column-5 -->
<div class="column5">
    <div class="s-heading">
        <h3 class="H4">
            Stages of Achievement
        </h3>
    </div>
   <div class="row11">
        <div class="box11">
            <img src="assets/img/ac-11.png" alt="">
            <div class="a-head">
                <h4 class="H5">Diamond</h4>
            </div>
        </div>
        <div class="box12">
            <img src="assets/img/ac-11.png" alt="">
            <div class="a-head">
                <h4 class="H6">Platinum</h4>
            </div>
        </div>
        <div class="box13">
            <img src="assets/img/ac-11.png" alt="">
            <div class="a-head">
                <h4 class="H7">Gold</h4>
            </div>
        </div>
        <div class="box14">
            <img src="assets/img/ac-11.png" alt="">
            <div class="a-head">
                <h4 class="H8">Silver</h4>
            </div>
        </div>
        <div class="box15">
            <img src="assets/img/ac-11.png" alt="">
            <div class="a-head">
                <h4 class="H9">Bronze</h4>
            </div>
        </div>
   </div>

    <div class="r-head">
        <h3 class="K1">
            Redeem with your Crystals
        </h3>
    </div>

</div>

<!-- column-6 -->
<div class="column6">
    <div class="row12">
        <div class="boxs1">
            <img src="assets/img/L1.jpg" alt="">
            <div class="price">
                <h5 class="k1">
                    Diamond ring 
                </h5>
                <p class="p5">
                    15000 crys.
                </p>
            </div>
        </div>
        <div class="boxs2">
            <img src="assets/img/L2.jpg" alt="">
            <div class="price">
                <h5 class="k2">
                    Platinum ring 
                </h5>
                <p class="p6">
                    10000 crys.
                </p>
            </div>
        </div>
        <div class="boxs3">
            <img src="assets/img/L3.jpg" alt="">
            <div class="price">
                <h5 class="k3">
                    Gems 
                </h5>
                <p class="p7">
                    1500 crys.
                </p>
            </div>
        </div>
        <div class="boxs4">
            <img src="assets/img/L4.jpg" alt="">
            <div class="price">
                <h5 class="k4">
                    Gold Necklace 
                </h5>
                <p class="p8">
                    2500 crys.
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
