<app-navigation></app-navigation>
<div class="category-1">
  <div class="link">
    <li class="li-1"><a href="" class="a1">Help & Info</a></li>
    <li class="li-2"><a href="" class="a2">About Us</a></li>
    <li class="li-3"><a href="" class="a3">Careers</a></li>
    <li class="li-4"><a href="" class="a4">Blogs</a></li>

    <div class="dropdown">
      <button class="dropbtn">
        FAQs
        <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
      </button>
      <div class="dropdown-content">
        <a href="#">Login & Account</a>
        <a href="#">Refund & Pickup</a>
        <a href="#">Delivery</a>
        <a href="#">Cancellation</a>
      </div>
    </div>
  </div>
</div>
<!-- ctaegory-2 -->
<div class="category-2">
  <div class="box-1">
    <h2 class="h2-0">Welcome to 24X7 Help Centre of Crystals and Carats</h2>
  </div>

  <div class="content-1">
    <h4 class="h4-0">
      Do I need to verify my mobile number or email address every time I log in?
    </h4>
    <div class="para">
      <p class="p-0">
        As the verification step is a one time process, you won't have to do it
        again once your account is verified.
      </p>

      <div class="msg-0">
        <h4 class="h4-1">What is an OTP or verification code?</h4>
        <p class="p-1">
          An OTP (One Time Password) or verification code is a password/code
          used to verify your mobile number or email ID when you log into your
          account for the first time. OTP verification will be also be done in
          other cases like creating an account, password recovery, and updating
          email/mobile details.
        </p>
      </div>
    </div>
  </div>
  <!-- content-2 -->
  <div class="content-2">
    <h2 class="h2-1">
      Why do I need to verify my mobile number or email address to log into my
      account?
    </h2>
    <div class="msg-0">
      <p class="p-2">
        To make sure that your account details are always secure, verification
        by OTP (One Time Password) is important. This is a one-time process and
        you can log into your account without any hassles once this is done
      </p>
    </div>
  </div>
  <!-- content-3 -->
  <div class="content-3">
    <h2 class="h2-2">
        How can I change the password for my account?
    </h2>
    <div class="msg-0">
      <p class="p-3">     
        To change the password for your account, follow these simple steps:
      </p>
      <ol class="ol-1">
        <li class="li-5">
            Log in to your account
        </li>
        <li class="li-6">
            Go to My Account › Settings › Change Password  
        </li>
        <li class="li-7">
            Enter your old password
        </li>
        <li class="li-8">
            Enter your new password
        </li>
        <li class="li-9">
            Choose 'Save Changes'
        </li>
      </ol>
    </div>
  </div>

</div>
<app-footer></app-footer>
