<form action="">
    <div class="category-1">
        <img src="assets/img/vf-2.png" alt="">
        <div class="head">
            <!-- <h3 class="h3-1">Enter Verfication Code.</h3> -->
            <div class="links">
                <a href=""><fa-icon [icon]="faXTwitter" class="L4"></fa-icon></a>
                <a href=""><fa-icon [icon]="faGoogle" class="L4"></fa-icon></a>
                <a href=""><fa-icon [icon]="faFacebook" class="L4"></fa-icon></a>
            </div>
        </div>

         <!-- input fields -->
         <div class="input-1">
            <label for="">Enter New Password</label>
            <input type="password" placeholder="" class="in-1">
         </div>

         <div class="input-2">
            <label for="">Confirm Password</label>
            <input type="password" placeholder="" class="in-2">
         </div>

      

          <div class="button-1">
            <button mat-raised-button color="primary" class="btn-2">Send</button>
          </div>

    </div>
    <!-- category-2 -->
    <div class="category-2">
        <div class="mark">
            <a href=""><fa-icon [icon]="faXmark" class="L5"></fa-icon></a>
        </div>
        <div class="image">
            <img src="assets/img/demo-logo.png" alt="" class="img-2">
        </div>
    </div>
</form>